@import "../../variables.scss";

.sideBarRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    padding: $offSetLevel_3 0;
    position: fixed;
    right: 2%;
    width: 4.75rem;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.5);
    .iconWrapper > a:active {
        color: $primaryFontColor;
        background-color: $primaryColor;
        border-radius: 50%;
    }
    .modeButton {
        cursor: pointer;
        margin-bottom: 5rem; //დროებით
    }
    .icons {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .iconWrapper {
            width: 40px;
            height: 40px;
            background-color: #f0f0f6;
            border-radius: 50%;
            position: relative;
            a {
                display: block;
                width: 100%;
                height: 100%;
                .activeIcons {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
