@import '../LeftScss/../../variables.scss';

.sidebarHead {
    max-width: 150px;
    margin: 0 auto;
    .personImage {
        border-radius: 50%;
        display: block;
        width: 100%;
    }
    .fullname {
        font-weight: bold;
    }
}