.app {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  gap: 25px;
}
.app .sidebarLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 40px;
}
.app .sidebarLeft .sidebarHead {
  max-width: 150px;
  margin: 0 auto;
}
.app .sidebarLeft .sidebarHead .personImage {
  border-radius: 50%;
  display: block;
  width: 100%;
}
.app .sidebarLeft .sidebarHead .fullname {
  font-weight: bold;
}
.app .sidebarLeft .socIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 25px;
  border-bottom: 1.5px solid #f0f0f6;
}
.app .sidebarLeft .socIcons .iconDiv {
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  border-radius: 50%;
}
.app .sidebarLeft .personInfo {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1.5px solid #f0f0f6;
}
.app .sidebarLeft .personInfo .personInfoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .sidebarLeft .personInfo .personInfoDiv .ageInfo,
.app .sidebarLeft .personInfo .personInfoDiv .residenceInfo,
.app .sidebarLeft .personInfo .personInfoDiv .freelanceInfo,
.app .sidebarLeft .personInfo .personInfoDiv .addressInfo {
  padding-right: 7px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 24px;
}
.app .sidebarLeft .personInfo .personInfoDiv .ageInfo,
.app .sidebarLeft .personInfo .personInfoDiv .residenceInfo,
.app .sidebarLeft .personInfo .personInfoDiv .addressInfo {
  font-size: 15px;
  color: #2b2b2b;
}
.app .sidebarLeft .personInfo .personInfoDiv .freelanceStyle {
  font-size: 15px;
  color: #7eb942;
}
.app .sidebarLeft .personInfo .residenceInfo {
  color: #2b2b2b;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
}
.app .sidebarLeft .personInfo .freelanceInfo {
  color: #2b2b2b;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
}
.app .sidebarLeft .personInfo .addressInfo {
  color: #2b2b2b;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
}
.app .sidebarLeft .personInfo .jobInfo {
  color: #2b2b2b;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
}
.app .sidebarLeft .langInfo,
.app .sidebarLeft .skillsInfo,
.app .sidebarLeft .extraSkillsInfo {
  padding-bottom: 25px;
  border-bottom: 1.5px solid #f0f0f6;
}
.app .sidebarLeft .langInfo h2,
.app .sidebarLeft .skillsInfo h2,
.app .sidebarLeft .extraSkillsInfo h2 {
  font-size: 18px;
  color: #2b2b2b;
}
.app .sidebarLeft .langInfo .extraSkils,
.app .sidebarLeft .skillsInfo .extraSkils,
.app .sidebarLeft .extraSkillsInfo .extraSkils {
  font-size: 15px;
  color: #767676;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.app .sidebarLeft .langInfo .extraSkils #square,
.app .sidebarLeft .skillsInfo .extraSkils #square,
.app .sidebarLeft .extraSkillsInfo .extraSkils #square {
  margin-right: 15px;
}
.app .sidebarLeft .langInfo .lang,
.app .sidebarLeft .skillsInfo .lang,
.app .sidebarLeft .extraSkillsInfo .lang {
  font-size: 15px;
  color: #767676;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.app .sidebarLeft .langInfo .lang .languageLevel,
.app .sidebarLeft .skillsInfo .lang .languageLevel,
.app .sidebarLeft .extraSkillsInfo .lang .languageLevel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}
.app .sidebarLeft .buttonDiv #downloadCv {
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: #2b2b2b;
  padding: 10px 40px;
}
.app .sidebarLeft .buttonDiv #downloadCv .downloadIcon {
  padding-left: 20px;
  padding-right: 17px;
}
.app .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 970px;
  height: 467px;
}
.app .middle .infoWrapper h2 {
  padding-top: 93px;
  padding-bottom: 18px;
  font-size: 48px;
}
.app .middle .infoWrapper h2 .h2style {
  color: #ffb400;
}
.app .middle .infoWrapper p {
  color: #767676;
  font-size: 16px;
  padding-bottom: 25px;
}
.app .middle .infoWrapper button[type=submit] {
  width: 154px;
  height: 51px;
  border: none;
  border-radius: 5%;
  color: #2b2b2b;
  background-color: #ffb400;
}
.app .middle .infoWrapper button[type=submit] .arrow {
  padding-left: 11px;
}
.app .sideBarRight {
  max-width: 110px;
  height: 1315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .sideBarRight .modeButton {
  padding-top: 45px;
  padding-bottom: 215px;
}
.app .sideBarRight .modeButton .dark-mode {
  background-color: black;
  color: #fff;
}
.app .sideBarRight .modeButton .light-mode {
  background-color: #fff;
  color: black;
}
.app .sideBarRight .icons {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.app .sideBarRight .icons .home {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffb400;
  position: relative;
}
.app .sideBarRight .icons .home .activeHome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.app .sideBarRight .icons .iconWrapper {
  width: 40px;
  height: 40px;
  background-color: #f0f0f6;
  border-radius: 50%;
  position: relative;
}
.app .sideBarRight .icons .iconWrapper .activeIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}/*# sourceMappingURL=App.css.map */