@import "../MiddleScss/../../variables.scss";

.about {
    display: flex;
    background-color: $white;
    padding: $offSetLevel_3;
    position: relative;
    margin-bottom: $offSetLevel_3 * 3;
    .infoWrapper {
        width: 55%;
        h1 {
            margin-top: $offSetLevel_3 * 3;
            margin-bottom: $offSetLevel_3;
            font-size: $firstLevelSize;
            .h2style {
                color: $primaryColor;
            }
        }
        p {
            color: $secondaryFontColor;
            font-size: $regular;
            padding-bottom: 25px;
        }
        button[type="submit"] {
            z-index: 2;
            padding: 15px 20px;
            border: none;
            border-radius: 5%;
            color: $primaryFontColor;
            background-color: $primaryColor;
            opacity: 0.8;
            cursor: pointer;
            .arrow {
                padding-left: 11px;
            }
        }
        button:hover {
            opacity: 1;
            // background-color: #27ae60;
        }
    }
    .imageDiv {

        img {
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            height: 95%;
        }
    }
    .shape {
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 1;
        border: 2px solid transparent;
    }
    .square {
        transform: rotate(26deg);
    }
    .circle {
        border-radius: 50%;
    }
}
