@import "../MiddleScss/../../variables.scss";


.education{
    margin-bottom: 70px;
    .heading{
        text-align: center;  
        margin-bottom: 1.5rem;
        font-family: $Inter;
        font-style: normal;
        font-weight: $Bold;
        text-transform: capitalize;
        color: $primaryFontColor;
        h2{
            font-size: $secoundLevelSize;
            margin-bottom: $offSetLevel_2;
            display: inline-block;
            border-bottom: 1px solid $white;
            @media (max-width: $xsTablet) {
                font-size: $thirdLevelSize*1.5;
              }
        }
        p{
            width: 80%;
            margin: 0 auto;
            font-family: $Inter;
            font-style: normal;
            font-weight: $RegularNormal;
            font-size: $fourthLevelSize;
            line-height: $LinMedium;
            text-align: center;
            text-transform: capitalize;
        }
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color:$white;
        gap: $offSetLevel_2;
        .cards{
            display: flex;
            border: 1.5px solid #F0F0F6;
            padding-bottom: $offSetLevel_1;
            .left-card{
                padding: 2% 0 0 5%;
                margin-right: 8%;
                @media (max-width: $smTablet) {
                padding: 10px 0 0 15px;
                margin-right: 15px;
                }
                h3{
                    font-family: $Inter;
                    font-style: normal;
                    font-weight:$Medium;
                    font-size: $thirdLevelSize;
                    color: $primaryFontColor;
                    text-transform: capitalize;
                    margin-bottom: 10%;
                    @media (max-width: $xsTablet) {
                        word-break: break-all;
                    }
                }
                p{
                    display: inline;
                    margin-right: 10%;
                    font-family: $Inter;
                    font-style: normal;
                    font-weight: $RegularNormal;
                    font-size: $thirdLevelSize;
                    line-height: $LinMedium;
                    color: $primaryFontColor;
                }
                span{
                    background-color: $primaryColor;
                    font-family: $Inter;
                    font-style: normal;
                    font-weight: $RegularNormal;
                    font-size: $regular;
                    line-height: $LineUnderneath;
                    color: $white;
                }
            }
            .right-card{
                padding: 2% 5% 0 0;
                @media (max-width: $smTablet) {
                    padding: 10px 5px;
                    }
                h3{
                    font-family: $Inter;
                    font-style: normal;
                    font-weight: $Medium;
                    font-size: $thirdLevelSize;
                    line-height: $LineLower;
                    text-transform: capitalize;
                }
                p{
                    font-family: $Inter;
                    font-style: normal;
                    font-weight: $RegularNormal;
                    font-size: $fourthLevelSize;
                    line-height: $LinMedium;
                    text-transform: capitalize;
                    color: $secondaryFontColor;
                }
                
            }
        }
    }
}
