@import "./variables.scss";
.app {
    background-color: $backColor;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    gap: $offSetLevel_3;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 30px 40px;
        .sidebarHead {
            max-width: 150px;
            margin: 0 auto;
            .personImage {
                border-radius: 50%;
                display: block;
                width: 100%;
            }
            .fullname {
                font-weight: bold;
            }
        }
        .socIcons {
            display: flex;
            justify-content: space-around;
            padding-bottom: $offSetLevel_3;
            border-bottom: 1.5px solid #f0f0f6;
            .iconDiv {
                background-color: $primaryColor;
                padding-top: 4px;
                padding-right: 10px;
                padding-bottom: 6px;
                padding-left: 10px;
                border-radius: 50%;
            }
        }
        .personInfo {
            padding-top: $offSetLevel_3;
            padding-bottom: $offSetLevel_3;
            border-bottom: 1.5px solid #f0f0f6;
            .personInfoDiv {
                display: flex;
                padding-bottom: 10px;
                justify-content: space-between;
                align-items: center;
                .ageInfo,
                .residenceInfo,
                .freelanceInfo,
                .addressInfo {
                    padding-right: 7px;
                    color: $primaryFontColor;
                    background-color: $primaryColor;
                    font-size: 15px;
                    line-height: 24px;
                }
                .ageInfo,
                .residenceInfo,
                .addressInfo {
                    font-size: $fourthLevelSize;
                    color: $primaryFontColor;
                }
                .freelanceStyle {
                    font-size: $fourthLevelSize;
                    color: #7eb942;
                }
            }

            .residenceInfo {
                color: $primaryFontColor;
                background-color: $primaryColor;
                height: 24px;
                font-size: 15px;
                line-height: 24px;
            }
            .freelanceInfo {
                color: $primaryFontColor;
                background-color: $primaryColor;

                height: 24px;
                font-size: 15px;
                line-height: 24px;
            }
            .addressInfo {
                color: $primaryFontColor;
                background-color: $primaryColor;

                height: 24px;
                font-size: 15px;
                line-height: 24px;
            }
            .jobInfo {
                color: $primaryFontColor;
                background-color: $primaryColor;

                height: 24px;
                font-size: 15px;
                line-height: 24px;
            }
        }
        .langInfo,
        .skillsInfo,
        .extraSkillsInfo {
            padding-bottom: $offSetLevel_3;
            border-bottom: 1.5px solid #f0f0f6;

            h2 {
                font-size: $thirdLevelSize;
                color: $primaryFontColor;
            }

            .extraSkils {
                font-size: $fourthLevelSize;
                color: $secondaryFontColor;
                padding-bottom: 5px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                #square {
                    margin-right: 15px;
                }
            }
            .lang {
                font-size: $fourthLevelSize;
                color: $secondaryFontColor;
                padding-bottom: 5px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;
                .languageLevel {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 5px;
                }
            }
            .perCentage {
                background-color: #7eb942;
            }
        }
        .buttonDiv {
            #downloadCv {
                background-color: $primaryColor;
                cursor: pointer;
                border: none;
                font-size: $fourthLevelSize;
                color: $primaryFontColor;
                padding: 10px 40px;
                .downloadIcon {
                    padding-left: 20px;
                    padding-right: 17px;
                }
            }
        }
    }
    .middle {
        max-width: 970px;
        height: 467px;
        .about {
            display: flex;

            .infoWrapper {
                h2 {
                    padding-top: 93px;
                    padding-bottom: 18px;
                    font-size: $firstLevelSize;
                    .h2style {
                        color: $primaryColor;
                    }
                }
                p {
                    color: $secondaryFontColor;
                    font-size: $regular;
                    padding-bottom: 25px;
                }
                button[type="submit"] {
                    width: 154px;
                    height: 51px;
                    border: none;
                    border-radius: 5%;
                    color: $primaryFontColor;
                    background-color: $primaryColor;
                    .arrow {
                        padding-left: 11px;
                    }
                }
            }
        }
        .myServices {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: $secoundLevelSize;
                color: $primaryFontColor;
            }
            p {
                text-align: center;
                width: 50%;
                color: $secondaryFontColor;
            }
            .cardsWrapper {
                padding-top: 50px;

                .cards {
                    display: flex;
                    flex-wrap: wrap;

                    .serviceCard {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        width: 30%;
                        height: 225px;
                        padding-top: 35px;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        border: 1px dashed black;
                        .cardTitle {
                            width: 100%;
                            font-size: $thirdLevelSize;
                            color: $primaryFontColor;
                        }
                        .cardParagraph {
                            width: 100%;
                            font-size: $fourthLevelSize;
                            color: $secondaryFontColor;
                        }
                    }
                }
            }
        }
    }

    .sideBarRight {
        max-width: 110px;
        height: 1315px;
        background-color: $navColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        .modeButton {
            padding-top: 45px;
            padding-bottom: 215px;
           
        }
        .icons {
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .home {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $primaryColor;
                position: relative;
                .activeHome {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .iconWrapper {
                width: 40px;
                height: 40px;
                background-color: #f0f0f6;
                border-radius: 50%;
                position: relative;
                .activeIcons {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &.dark-mode {
        background-color: #212B38;
        color: #fff;
        .sidebarLeft{
            background-color:#212B38;
        }
        .sidebarLeft{
            background-color: #212B38;
        }
        .sideBarRight{
            background-color: #212B38;
        }
        .darkModeButtonColor {
            fill: #7eb942;
        }
    }
 
}
