// Colors
$primaryColor: #ffb400;
$backColor: #e5e5e5;
$navColor: #fafafa;
$primaryFontColor: #2b2b2b;
$secondaryFontColor: #767676;
$white : #fff;
// Colors

$firstLevelSize: 48px;
$secoundLevelSize: 32px;
$thirdLevelSize: 18px;
$fourthLevelSize: 15px;
$regular: 16px;

$offSetLevel_3: 25px;
