$primeColor: #ffb400;
$backColor: #e5e5e5;
$navColor: #fafafa;
$primaryFontColor: #2b2b2b;
$secondaryFontColor: #767676;
$firstLevelSize: 48px;
$secoundLevelSize: 32px;
$threLevelSize: 18px;
$fourLevelSize: 15px;
$regular: 16px;

$offSetLevel_3: 25px;

