// Colors
$primaryColor: #ffb400;
$backColor: #e5e5e5;
$navColor: #fafafa;
$primaryFontColor: #2b2b2b;
$secondaryFontColor: #767676;
$white: #fff;

//status-Indicator
$available: #7eb942;
$busy: #d07206;

// line-hight
$LineUnderneath: 10px;
$LineLower: 22px;
$LinMedium: 24px;

// FONT-SIZE
$lowFont: 10px;
$fourthLevelSize: 15px;
$regular: 16px;
$thirdLevelSize: 18px;
$firstLevelSize: 48px;
$secoundLevelSize: 32px;

// OFFSETS
$offSetLevel_1: 10px;
$offSetLevel_2: 16px;
$offSetLevel_3: 25px;

// FONT-WEIGHT
$HairLine: 100;
$UltraLight: 200;
$Light: 300;
$RegularNormal: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$UltraBold: 800;
$Best: 900;

// FONT-FAMILY
$Inter: "Inter";



// SCREEN BRAKEPOINTS
$smDesktop: 1366px;
$xsDesktop: 1170px;

$smTablet: 769px;
$xsTablet: 580px;